<title>Trang chủ</title>
<div id="menu">
    <ul>
        <li><a href="/Home/Product">Sản phẩm</a></li>
        <li><a href="/Home/Banner">Banner</a></li>
        <li><a href="/Home/TinTuc">Tin tức</a></li>
        <li><a href="/Home/DonHang">Đơn hàng</a></li>
        @*<li><a href="#">Liên hệ</a></li>*@
    </ul>
</div>
<style>
    /*==Reset CSS==*/
    * {
        margin: 0;
        padding: 0;
    }

    /*==Style cơ bản cho website==*/
    body {
        font-family: sans-serif;
        color: #333;
    }

    /*==Style cho menu===*/
    #menu ul {
        background: #1F568B;
        list-style-type: none;
        text-align: center;
    }

    #menu li {
        color: #f1f1f1;
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        margin-left: -5px;
    }

    #menu a {
        text-decoration: none;
        color: #fff;
        display: block;
    }

        #menu a:hover {
            background: #F1F1F1;
            color: #333;
        }

</style>